* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

body {
    font-family: cursive;
}

.header__nav {
    padding: 20px 0;
    position: relative;
    z-index: 999;
}

.header__nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
}

.header__logo {
    font-size: 40px;
    text-transform: uppercase;
    color: #fff;
}

.header__link {
    text-transform: uppercase;
    margin-left: 30px;
    color: #fff;
}

.header img {
    position: absolute;
}

.fantasy {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
}

.cloud-1 {
    top: 15%;
    left: 5%;
}

.cloud-2 {
    top: 15%;
    left: 70%;
    mix-blend-mode: overlay;
}

.cloud-3 {
    top: 30%;
    left: 40%;
    mix-blend-mode: overlay;
}

.boat {
    top: 85%;
    right: 65%;
}

.header__content {
    position: relative;
    z-index: 999;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__title {
    color: #fff;
    text-transform: uppercase;
    font-size: 80px;
    text-shadow: 0 0 5px #fff, 0 0 5px rgb(0, 0, 0);
    text-align: center;
}

.header {
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.paralax {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.paralax__title {
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
}

.paralax__box {
    position: relative;
    display: flex;
    flex-grow: 1;
}

.paralax__box img {
    position: absolute;
}

.paralax__banner {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.paralax__img {
    top: 15%;
    left: 15%;
}

.paralax__img2 {
    top: 15%;
    left: 80%;
}

.timer {
    padding: 50px 0;
}

.timer__title {
    font-size: 50px;
    margin-bottom: 30px;
}

.timer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.timer__item {
    text-align: center;
    padding: 20px;
    border: 2px #000 solid;
}

.timer__num {
    font-size: 30px;
}

.to-do {
    padding: 40px 0;
    background: #fff;
}

.to-do__title {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 50px;
}

.to-do__form {
    display: flex;
    column-gap: 20px;
    border: 1px, solid rgb(232, 134, 134);
}

.to-do__inp {
    padding: 15px;
    font-size: 18px;
    border-radius: 15px;
}

.to-do__add {
    border: none;
    background: rgb(232, 134, 134);
    width: 70px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 15px;
}

.to-do__list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 400px;
}

.to-do__item {
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid rgb(232, 134, 134);
    border-radius: 15px;
}

.close {
    background: rgb(226, 84, 84);
    border: none;
    padding: 10px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}


